<!-- <p>excel-upload works!</p>
<h1>Read/Import Excel file in <span class="text-primary">Angular</span></h1>

<br><br><br><br>
<input type="file" (change)="onFileSelected($event)" accept=".xls, .xlsx" />
<button (click)="uploadFile()">Submit</button>

<br><br><br><br><br><br>
<div style="width: 50%; margin-left:20%">

    <h3 style="text-align:center;">Excel data in HTML Table</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">email</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ExcelData">
                <th scope ="row">{{data.FirstName}}</th>
                <td>{{data.LastName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.MobileNumber}}</td>
                <td>{{data.password}}</td>

            </tr>
        </tbody>
    </table>
</div> -->
